# rm, cp, mv, ls
alias rm="rm -i -v"
alias cp="cp -v"
alias mv="mv -v"
alias l="ls -al"
alias mkdir="mkdir -v"
alias c="cd"

# git
alias gst="git status"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gpuom="git push -u origin master"
alias gpom="git push origin master"
alias grp="git push -f origin HEAD^:master"
