[user]
	useConfigOnly = true
	name = Vlad Zahorodnii
	email = vlad.zahorodnii@kde.org
[alias]
	pretty-log = log --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --decorate --all --graph
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
[url "https://anongit.kde.org/"]
	insteadOf = kde:
