[Desktop Entry]
Name=Visual Studio Code - Insiders
Comment=Editor for building and debugging modern web and cloud applications (Insiders Edition)
Exec=/usr/bin/code-insiders %f
Icon=visual-studio-code-insiders
Terminal=false
Type=Application
Categories=Development;WebDevelopment;IDE;Utility;TextEditor;
MimeType=text/plain;inode/directory;
StartupNotify=true