[Desktop Entry]
Name=Clock
Comment=A clock
Icon=preferences-system-time

X-KDE-PluginInfo-Author=Vlad Zagorodniy
X-KDE-PluginInfo-Email=vladzzag@gmail.com
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Name=io.zzag.clock
X-KDE-PluginInfo-Version=0.1

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.time

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
