# list directories
alias ls='LC_ALL=C ls -hF --color --group-directories-first'
alias tree='tree --dirsfirst'

# create folders, remove files, etc.
alias mkdir="mkdir -pv"
alias rm='rm -iv'
alias mv='mv -v'
alias cp='cp -v'

# fancy utils
alias ports='sudo netstat -vatnp'
